* {
    touch-action: manipulation;
}

/*-----Interfaz-----*/
.game_info,
.back {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(50, 14, 67);
    border: 1px solid rgba(155, 76, 228, 0.3);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #b6bde7;
}

.game_info {
    bottom: 15px;
    right: 15px;
}

.back {
    bottom: 15px;
    left: 15px;
}

.popover-body {
    background-color: var(--myBg);
    border: 1px solid var(--myBorder);
    border-radius: 5px;
    color: #ffffff !important;
}

/*-----Matriz-----*/
.matrix {
    border-collapse: separate;
    border-spacing: 7px;
}

.grey,
.red,
.blue,
.black,
.white {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 15%;
    outline: 0.5px solid var(--myBorder);
    color: #ffffff;
    transition: all 180ms ease-in-out;
    transform: scale(1);
}

.clicked {
    transition: all 180ms ease-in-out;
    transform: scale(1.2);
}

.grey {
    background: var(--matrix-cell-color);
}

.z-5 {
    height: 85px;
    width: 85px;
}

.z-6 {
    height: 73px;
    width: 73px;
}

.z-8 {
    height: 55px;
    width: 55px;
}

.z-10 {
    height: 40px;
    width: 40px;
}

.cell_alert {
    border: 3px solid white;
    box-sizing: border-box;
}

main {
    margin-top: 10vh;
}

@media (orientation: landscape) {
    main {
        margin-top: 0;
    }
}