.myCol {
  display: flex;
  justify-content: space-around;
}

.game {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 40px;
  align-items: center;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-around;
  min-width: 210px;
  min-height: 16vh;
  margin-bottom: 2rem;
}

.game:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.649);
  transform: translateY(-5px);
  cursor: pointer;
  transition: all 0.3s ease;
}

.game_img {
  width: 50px;
  float: left;
  border-radius: 20%;
}

.game_text {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: min(8vw, 30px);
  position: relative;
}