.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 3vh;
  width: 90%;
  justify-content: stretch;
  align-items: center;
  max-width: 1200px;
  margin-top: 4vh;
}

.game {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  padding: 25px;
  border-radius: 35px;
  align-items: center;
  transition: all 0.3s ease;
  display: flex;
  position: relative;
  justify-content: space-around;
  min-width: 180px;
  min-height: 110px;
}

.game_img {
  width: 40px;
  position: absolute;
  left: 25px;
  transition: all 0.3s ease;
}

.game_text {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 100%;
  position: absolute;
  right: 35px;
  transition: all 0.4s ease;
}

.game_text_big {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 100%;
  position: absolute;
  right: 20px;
  transition: all 0.4s ease;
}

.game_text_out,
.game_text_out_big {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 100%;
  position: absolute;
  left: -200px;
  right: none;
  transition: all 0.4s ease;
}

.game:hover {
  background: rgba(116, 37, 128, 0.352);
  border: 1px solid rgba(155, 76, 228, 0.3);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.636);
  transform: scale(1.069);
  cursor: pointer;
  transition: all 0.3s ease;
}

.game:hover .game_img {
  transform: scale(2.5) translateX(110%) translateY(30%);
  transition: all 0.3s ease;
}

.game:hover .game_text_out {
  left: 25px;
  transition: all 0.4s ease;
}

.game:hover .game_text_out_big {
  left: 10px;
  transition: all 0.4s ease;
}

.game:hover .game_text,
.game:hover .game_text_big {
  right: -200px;
  transition: all 0.4s ease;
}

.subGameBtn {
  background: rgba(255, 255, 255, 0.1) !important;
  width: 150px;
}