<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/menu.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="../static/images/logos/favicon.png">
    <title>Games</title>
</head> 
<body>
    <header>
        <nav class="navbar navbar-expand-lg menu">
        <div class="container-fluid">
            <button onclick="window.location.href='/'" class="navbar-brand"><div class="logo"></div></button>
            <button class="navbar-toggler menuHamb" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars fa-2xl" style="color: #b6bde7;"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button onclick="window.location.href=`/menu_games?userid=${localStorage.getItem('userId')}`" class="nav-link active" aria-current="page"><i class="fa-solid fa-gamepad"></i> Juegos</button>
                </li>
                <li class="nav-item">
                    <button onclick="window.location.href='/leaderboards'" class="nav-link active" aria-current="page"><i class="fa-solid fa-ranking-star"></i> Rankings</button>
                </li>
                <li class="nav-item">
                    <button onclick="window.location.href='/'" class="nav-link active" aria-current="page"><i class="fa-solid fa-people-group"></i> Sobre Nosotros</button>
                </li>
            </ul>
            </div>
        </div>
        </nav>
    </header>
    <main>
        <h1 class="title">¡Hola, {{ nickname }}! <br> Elige un juego</h1>
        <hr>
        <div class="grid_container displayColumn">
            <button class="game" onclick="window.location.href='/0h_h1'">
                <span class="game_text_out">¡Jugar!</span>
                <img src="../static/images/games/0h-h1.png" alt="" class="game_img">
                <span class="game_text">0h-h1</span>
            </button>

            <button class="game" onclick="window.location.href='/0h_h1_tt'">
                <span class="game_text_out">¡Jugar!</span>
                <img src="../static/images/games/time_trial.png" alt="" class="game_img">
                <span class="game_text_big">Contrareloj<br>0h-h1</span>
            </button>

            <button class="game" onclick="window.location.href='/knight'">
                <span class="game_text_out">¡Jugar!</span>
                <img src="../static/images/games/knight.png" alt="" class="game_img">
                <span class="game_text">Knight</span>
            </button>

            <button class="game" onclick="window.location.href='/secuenzo'">
                <span class="game_text_out">¡Jugar!</span>
                <img src="../static/images/games/0h-h1.png" alt="" class="game_img">
                <span class="game_text_big">Secuenzo</span>
            </button>

            <button class="game" onclick="window.location.href='/cuenta_mania'">
                <span class="game_text_out">¡Jugar!</span>
                <img src="../static/images/games/0h-h1.png" alt="" class="game_img">
                <span class="game_text">Cuenta<br>Manía</span>
            </button>

            <button class="game" onclick="window.location.href='/patron_perfecto'">
                <span class="game_text_out">¡Jugar!</span>
                <img src="../static/images/games/0h-h1.png" alt="" class="game_img">
                <span class="game_text">Patrón<br>Perfecto</span>
            </button>

            <button class="game" onclick="window.location.href='/colores_cruzados'">
                <span class="game_text_out">¡Jugar!</span>
                <img src="../static/images/games/0h-h1.png" alt="" class="game_img">
                <span class="game_text_big">Colores<br>Cruzados</span>
            </button>

            <button class="game" onclick="window.location.href='/0h_n0'">
                <span class="game_text_out">¡Jugar!</span>
                <img src="../static/images/games/0h-h1.png" alt="" class="game_img">
                <span class="game_text">0h-n0</span>
            </button>

            <button class="game" onclick="window.location.href='/nerdle'">
                <span class="game_text_out">¡Jugar!</span>
                <img src="../static/images/games/0h-h1.png" alt="" class="game_img">
                <span class="game_text">Nerdle</span>
            </button>

            <button class="game" onclick="window.location.href='/agalludo'">
                <span class="game_text_out">¡Jugar!</span>
                <img src="../static/images/games/0h-h1.png" alt="" class="game_img">
                <span class="game_text_big">Agalludo</span>
            </button>
        </div>
    </main>
    <div class="menu-toggle">
        <a class="mail" href="mailto:mate.et.cerv@gmail.com?subject=Math and Beer en mi ciudad🍻&body=Hola%2C%20me%20gustar%C3%ADa%20informaci%C3%B3n%20sobre..." aria-label="Enviar correo"><i class="fa-solid fa-envelope"></i></a>
        <a class="instagram" href="https://www.instagram.com/math_and_beer/#"><i class="fa-brands fa-instagram"></i></a>
        <a class="whatsapp" href="https://wa.me/+573227217274"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
    <button class="contact">
        <i class="fa-solid fa-chevron-up"></i>
    </button>
    <script src="../static/scripts/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>