<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/menu.css">
    <title>Menu</title>
</head> 
<body>
    <header>
        <div class="logo"></div>
        <nav class="menu">
            <button onclick="window.location.href='/'">Juegos</button>
            <button onclick="window.location.href='/leaderboards'">Rankings</button>
            <button onclick="window.location.href='/leaderboards'">Nosotros</button>
            <button onclick="window.location.href='/leaderboards'">Contáctanos</button>
        </nav>
    </header>
    <main>
        <h1 class="title">¡Hola, {{ nickname }}! <br> Elige un juego</h1>
        <hr>
        <div class="grid_container">
            <button class="game" onclick="location.href='0h_h1.html'">
                <img class="game_img" src="../static/images/games/0h-h1.png" alt="Math Game Icon">
                <span class="game_text">0h-h1</span>
            </button>

            <button class="game" onclick="location.href='time_trial_0h_h1.html'">
                <img class="game_img" src="../static/images/games/0h-h1.png" alt="Math Game Icon">
                <span class="game_text">Contrareloj</span>
            </button>

            <button class="game" onclick="location.href='knight.html'">
                <img class="game_img" src="../static/images/games/knight.png" alt="Math Game Icon">
                <span class="game_text">Knight</span>
            </button>

            <button class="game" onclick="location.href='secuenzo.html'">
                <img class="game_img" src="../static/images/games/0h-h1.png" alt="Math Game Icon">
                <span class="game_text">Secuenzo</span>
            </button>

            <button class="game" onclick="location.href='cuentamania.html'">
                <img class="game_img" src="../static/images/games/0h-h1.png" alt="Math Game Icon">
                <span class="game_text">CuentaManía</span>
            </button>

            <button class="game" onclick="location.href='0h_h1.html'">
                <img class="game_img" src="../static/images/games/0h-h1.png" alt="Math Game Icon">
                <span class="game_text">Patrón<br>Perfecto</span>
            </button>

            <button class="game" onclick="location.href='0h_h1.html'">
                <img class="game_img" src="../static/images/games/0h-h1.png" alt="Math Game Icon">
                <span class="game_text">Colores<br>Cruzados</span>
            </button>

            <button class="game" onclick="location.href='0h_h1.html'">
                <img class="game_img" src="../static/images/games/0h-h1.png" alt="Math Game Icon">
                <span class="game_text">0h-n0</span>
            </button>

            <button class="game" onclick="location.href='0h_h1.html'">
                <img class="game_img" src="../static/images/games/0h-h1.png" alt="Math Game Icon">
                <span class="game_text">Nerdle</span>
            </button>

            <button class="game" onclick="location.href='0h_h1.html'">
                <img class="game_img" src="../static/images/games/0h-h1.png" alt="Math Game Icon">
                <span class="game_text">Agalludo</span>
            </button>
        </div>
    </main>
    <button class="contact" onclick="location.href='https://www.instagram.com/math_and_beer/#'">
        <img src="../static/images/instagram.png" alt="">
    </button>
</body>
</html>